<h1>Stupid Coach</h1>
<h4>Your question: </h4>
<p><%= params[:question] %></p>
<br>
<div class="answer">
<h4>The coach's answer:</h4>
<p><%= @answer %></p>
</div>
<br>
<%= link_to("Ask another question", ask_path)  %>
